<section id="faq" class="sectionSize items-start pt-8 md:pt-36 bg-neutral-900 text-white">
    <div>
      <h2 class="secondaryTitle p-2 mb-0 bg-center bg-100%"> Frequently Asked Questions </h2>
    </div>
    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto"> Apa syarat utama untuk menyewa kendaraan? </div>
        <img src='assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-light pb-8 hidden"> Minimal 3 identitas asli diperlukan.
        Salah satu identitas yang wajib adalah KTP.
        Identitas tambahan yang dapat digunakan termasuk Sim A, NPWP, KK, Paspor, BPJS, Kartu Mahasiswa, Kartu Karyawan/Pekerja, dan Buku Nikah.
        Pastikan identitas yang digunakan adalah yang asli dan sah. </div>
    </div>
    <hr class="w-full bg-gray-100" />
    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto"> Apa syarat Sewa Mobil ( Lepas Kunci ) khusus tamu lokal jogja? </div>
        <img src='assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-light pb-8 hidden"> Jaminan untuk penyewaan motor meliputi motor dan STNK (asli),
        sedangkan untuk mobil mencakup mobil dan STNK (asli). Selain itu, kami juga menerima sertifikat SHM (asli) dan BPKB + kendaraan
        (asli) sebagai jaminan.Adapun syarat yang perlu dipenuhi adalah menyertakan minimal 1 KTP (asli), 1 SIM C (asli), dan 1 NPWP (asli).
        Alternatif identitas lain yang dapat digunakan mencakup KK (asli), Paspor (asli), BPJS (asli), kartu mahasiswa (asli), kartu karyawan/pekerja (asli),
        buku nikah (asli), atau identitas lain yang asli. Pastikan minimal terdapat 3 identitas asli yang diperlukan untuk keperluan reservasi. </div>
    </div>
    <hr class="w-full bg-gray-100" />
    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto"> Dimana lokasi garasinya? </div>
        <img src='assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-light pb-8 hidden"> Jl Poncowiryo, Gunung Gempal, Giripeni, Wates Kab. Kulon Progo, Daerah Istimewa Yogyakarta 55651. </div>
    </div>
    <hr class="w-full bg-gray-100" />
    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto"> Apakah bisa melakukan janji / booking terlebih dahulu? </div>
        <img src='assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-light pb-8 hidden"> Tentu, kami juga melayani pemesanan / booking jauh sebelum hari H. </div>
    </div>
    <hr class="w-full bg-gray-100" />
    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto"> Bagaimana prosedur pengambilan dan pengembalian kendaraan? </div>
        <img src='assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-light pb-8 hidden"> Proses ini cepat dan mudah, disertai pemeriksaan ringan. </div>
    </div>
    <hr class="w-full bg-gray-100" />
    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto"> Apa kebijakan pembatalan? </div>
        <img src='assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-light pb-8 hidden"> Anda dapat membatalkan pesanan dengan pemberitahuan sebelumnya. </div>
    </div>
    <hr class="w-full bg-gray-100" />
    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto"> Apakah ada batasan jarak tempuh? </div>
        <img src='assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-light pb-8 hidden"> Anda dapat melakukan perjalanan sejauh yang Anda inginkan. </div>
    </div>
    <hr class="w-full bg-gray-100" />
    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto"> Apakah ada biaya tambahan untuk keterlambatan pengembalian? </div>
        <img src='assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-light pb-8 hidden"> Ya, terdapat biaya tambahan untuk keterlambatan pengembalian. </div>
    </div>
    <hr class="w-full bg-gray-100" />
    <div toggleElement class="w-full py-4">
      <div class="flex justify-between items-center">
        <div question class="font-montserrat font-medium mr-auto"> Apakah tersedia layanan antar-jemput? </div>
        <img src='assets/logos/CaretRight.svg' alt="" class="transform transition-transform" />
      </div>
      <div answer class="font-montserrat text-sm font-light pb-8 hidden"> Ya, kami menyediakan layanan antar-jemput (biaya tambahan). </div>
    </div>
    <hr class="w-full bg-gray-100" />
  </section>