<section id="home" class="pt-24 md:mt-0 md:h-screen flex flex-col justify-center text-center md:text-left md:flex-row md:justify-between md:items-center lg:px-48 md:px-12 px-4 bg-secondary">
    <div class="md:flex-1 md:mr-10">
      <h1 class="font-pt-serif text-2xl font-bold mb-7"> PT GHANY MUBARAQ GROUP <br>
        <span class="text-lg bg-underline1 bg-left-bottom bg-no-repeat pb-4 bg-100%"> Melayani Persewaan Mobil & Motor </span>
      </h1>
      <p class="text-justify font-pt-serif font-normal mb-7"> Selamat datang di layanan penyewaan kami! Temukan kebebasan dan kenyamanan dalam perjalanan Anda dengan pilihan kendaraan terbaik, harga terjangkau, fleksibilitas booking yang luar biasa, dan durasi sewa yang bervariatif. Segera hubungi kami untuk memulai pengalaman baru Anda! </p>
      <div class="font-montserrat">
        <a href="#mobil">
          <button class="px-6 py-4 border-2 border-black border-solid rounded-lg hover:bg-neutral-900 hover:text-white"> Harga Mobil </button>
        </a>
        <a href="#motor">
          <button class="px-6 py-4 border-2 border-black border-solid rounded-lg hover:bg-neutral-900 hover:text-white"> Harga Motor </button>
        </a>
      </div>
    </div>
    <div class="flex justify-around md:block mt-8 md:mt-0 md:flex-1">
      <div class="relative">
        <img src='assets/Highlight1.svg' alt="" class="absolute -top-16 -left-10" />
      </div>
      <img src='assets/car_landing.png' alt="car_landing" />
      <div class="relative">
        <img src='assets/Highlight2.svg' alt="" class="absolute -bottom-10 -right-6" />
      </div>
    </div>
  </section>
  <!-- Why -->
  <section id="why" class="sectionSize bg-secondary">
    <div>
      <h2 class="secondaryTitle bg-100%">Mengapa Sewa Kendaraan di Ghany ?</h2>
    </div>
    <div class="md:grid md:grid-cols-2 md:grid-rows-2">
      <div class="flex items-start font-montserrat my-6 mr-10">
        <img src='assets/logos/Heart.svg' alt='' class="h-7 mr-4" />
        <div>
          <h3 class="font-semibold text-2xl">Keamanan dan Keandalan Utama</h3>
          <p class="py-2 text-justify"> Sewa di Ghany Jaya adalah pilihan bijak untuk perjalanan Anda. Kami mengutamakan keamanan dan keandalan sebagai prioritas utama. Kendaraan kami selalu dalam kondisi terbaik, rutin diperiksa, dan terawat dengan baik. Dengan layanan ini, Anda dapat menjelajahi destinasi tanpa kekhawatiran dan merasa aman selama perjalanan. </p>
        </div>
      </div>
      <div class="flex items-start font-montserrat my-6 mr-10">
        <img src='assets/logos/Heart.svg' alt='' class="h-7 mr-4" />
        <div>
          <h3 class="font-semibold text-2xl">Kemudahan Proses dan Fleksibel</h3>
          <p class="py-2 text-justify"> Kami memahami pelanggan mempunyai kebutuhan yang beragam. Oleh karena itu, kami menawarkan proses sewa yang mudah dan pilihan durasi yang bervariatif. Apakah Anda membutuhkan kendaraan untuk perjalanan singkat atau jangka panjang, kami siap memenuhi kebutuhan Anda. </p>
        </div>
      </div>
      <div class="flex items-start font-montserrat my-6 mr-10">
        <img src='assets/logos/Heart.svg' alt='' class="h-7 mr-4" />
        <div>
          <h3 class="font-semibold text-2xl">Harga Terjangkau dan Hemat</h3>
          <p class="py-2 text-justify"> Kami percaya bahwa perjalanan yang menyenangkan tidak harus mahal. Kami menawarkan harga sewa yang terjangkau tanpa mengorbankan kualitas. Dengan pilihan tarif yang kompetitif, Anda dapat melakukan perjalanan sesuai anggaran Anda. </p>
        </div>
      </div>
      <div class="flex items-start font-montserrat my-6 mr-10">
        <img src='assets/logos/Heart.svg' alt='' class="h-7 mr-4" />
        <div>
          <h3 class="font-semibold text-2xl">Layanan Pelanggan Terbaik</h3>
          <p class="py-2 text-justify"> Kami peduli terhadap kepuasan pelanggan. Tim kami selalu siap membantu Anda dengan ramah dan cepat tanggap. Jika Anda memiliki pertanyaan atau membutuhkan bantuan selama masa sewa, kami selalu siap membantu Anda. Di Ghany Jaya, Anda bukan sekadar pelanggan, Anda adalah bagian dari keluarga kami. </p>
        </div>
      </div>
    </div>
  </section>