<section id="mobil" class="bg-neutral-900 text-white sectionSize">
    <div>
      <h2 class="secondaryTitle bg-underline2 bg-100%">Sewa Mobil</h2>
    </div>
    <div class="grid md:grid-cols-3 gap-4 sm:grid-cols-1">
      
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">AGYA New MT</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/agyaKuning.png" alt="AGYA New MT" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-900 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 250.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 300.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 275.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">AGYA New AT</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/agya.png" alt="AGYA New AT" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 300.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 350.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 325.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Brio New MT</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/brioManual.png" alt="Brio New MT" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 250.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 300.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 275.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Brio New AT</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/brioKuning.png" alt="Brio New AT" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 300.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 350.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 325.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Grand Avanza New MT</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/avanzaGrand.png" alt="Grand Avanza New MT" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 250.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 300.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 275.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Grand Avanza New Matic</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/avanzaGrand.png" alt="Grand Avanza New Matic" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 300.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 350.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 325.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Avanza New FWD MT</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/avanza.png" alt="Avanza New FWD MT" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 300.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 350.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 325.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Inova Reborn Solar MT</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/inovaReborn.png" alt="Inova Reborn Solar MT" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                -
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                -
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 500.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Inova Reborn Solar AT</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/inovaReborn.png" alt="Inova Reborn Solar AT" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                -
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                -
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 550.000
              </span>
            </div>
          
        </div>
      </div>
    </div>

    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Lepas Kunci</span>
          <h1 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Inova Reborn Solar AT</h1>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/inovaReborn.png" alt="Inova Reborn Solar AT" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                -
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              24 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                -
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 550.000
              </span>
            </div>

            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Fullday
              <span class="block text-xs mt-2 whitespace-nowrap">
                 550.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    </div>
  </section>