<section id="mobilvvip" class="bg-neutral-900 text-white sectionSize">
    <div>
      <h2 class="secondaryTitle bg-underline2 bg-100%">All In VVIP</h2>
    </div>
    <div class="grid md:grid-cols-3 gap-4 sm:grid-cols-1">
      
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Mobil + Driver + BBM</span>
          <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Alphard Transfromer New</h2>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/alphard.png" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-900 hover:text-white hover:border border-black">
              Full Day
              <span class="block text-xs mt-2 whitespace-nowrap">
                 3.500.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 3.000.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Drop Out
              <span class="block text-xs mt-2 whitespace-nowrap">
                 2.000.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Mobil + Driver + BBM</span>
          <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Pajero Dakar 4 x 2</h2>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/pajero.png" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Full Day
              <span class="block text-xs mt-2 whitespace-nowrap">
                 2.000.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 1.800.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Drop Out
              <span class="block text-xs mt-2 whitespace-nowrap">
                 1.000.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Mobil + Driver + BBM</span>
          <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Toyota Fortuner VRZ</h2>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/fortuner.png" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Full Day
              <span class="block text-xs mt-2 whitespace-nowrap">
                 2.000.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 1.800.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Drop Out
              <span class="block text-xs mt-2 whitespace-nowrap">
                 1.000.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
      <div>
        <div class="text-gray-800">
          <span class="text-gray-50 text-xs font-bold rounded-lg bg-neutral-800 inline-block mt-4 ml-4 py-1.5 px-4 cursor-pointer">Mobil + Driver + BBM</span>
          <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Toyota Camry / Accord</h2>
        </div>
        <img class="w-full cursor-pointer p-4" src="./assets/images/car/camry1.png" />
        <div id="duration-price" class="flex text-center text-xs justify-center p-4">
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Full Day
              <span class="block text-xs mt-2 whitespace-nowrap">
                 2.500.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              12 Jam
              <span class="block text-xs mt-2 whitespace-nowrap">
                 2.000.000
              </span>
            </div>
          
            <div class="flex-none bg-neutral-50 border border-black text-black font-bold p-2 rounded relative mx-2 hover:bg-neutral-800 hover:text-white hover:border border-black">
              Drop Out
              <span class="block text-xs mt-2 whitespace-nowrap">
                 1.500.000
              </span>
            </div>
          
        </div>
      </div>
    </div>
  
    </div>
  </section>