<section id="motor" class="bg-neutral-900 text-white sectionSize">
    <div>
      <h2 class="secondaryTitle bg-underline2 bg-100%">Sewa Motor</h2>
    </div>
    <div class="grid md:grid-cols-4 gap-4 sm:grid-cols-1">
      
      <!-- Card 1 -->
      <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <div>
          <div class="text-gray-800">
            <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Nmax</h2>
          </div>
          <img class="w-full cursor-pointer p-4" src="./assets/images/motor/nmax.png" alt="Nmax" />
          <div id="duration-price">
            <div class="flex text-center text-xs justify-center mb-2">
              
      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        12 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  100.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        24 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  150.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        Mingguan
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  800.000
        </span>
      </div>
    
            </div>
          </div>
        </div>
      </div>
    

      <!-- Card 1 -->
      <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <div>
          <div class="text-gray-800">
            <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Lexi</h2>
          </div>
          <img class="w-full cursor-pointer p-4" src="./assets/images/motor/lexi.png" alt="Lexi" />
          <div id="duration-price">
            <div class="flex text-center text-xs justify-center mb-2">
              
      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        12 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  80.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        24 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  100.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        Mingguan
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  600.000
        </span>
      </div>
    
            </div>
          </div>
        </div>
      </div>
    

      <!-- Card 1 -->
      <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <div>
          <div class="text-gray-800">
            <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Fazzio</h2>
          </div>
          <img class="w-full cursor-pointer p-4" src="./assets/images/motor/fazzio.png" alt="Fazzio" />
          <div id="duration-price">
            <div class="flex text-center text-xs justify-center mb-2">
              
      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        12 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  100.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        24 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  120.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        Mingguan
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  700.000
        </span>
      </div>
    
            </div>
          </div>
        </div>
      </div>
    

      <!-- Card 1 -->
      <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <div>
          <div class="text-gray-800">
            <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Vario</h2>
          </div>
          <img class="w-full cursor-pointer p-4" src="./assets/images/motor/vario.png" alt="Vario" />
          <div id="duration-price">
            <div class="flex text-center text-xs justify-center mb-2">
              
      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        12 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  70.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        24 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  100.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        Mingguan
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  500.000
        </span>
      </div>
    
            </div>
          </div>
        </div>
      </div>
    

      <!-- Card 1 -->
      <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <div>
          <div class="text-gray-800">
            <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Scoopy</h2>
          </div>
          <img class="w-full cursor-pointer p-4" src="./assets/images/motor/scoopy.png" alt="Scoopy" />
          <div id="duration-price">
            <div class="flex text-center text-xs justify-center mb-2">
              
      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        12 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  70.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        24 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  100.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        Mingguan
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  500.000
        </span>
      </div>
    
            </div>
          </div>
        </div>
      </div>
    

      <!-- Card 1 -->
      <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <div>
          <div class="text-gray-800">
            <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Beat</h2>
          </div>
          <img class="w-full cursor-pointer p-4" src="./assets/images/motor/beat.png" alt="Beat" />
          <div id="duration-price">
            <div class="flex text-center text-xs justify-center mb-2">
              
      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        12 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  60.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        24 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  80.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        Mingguan
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  400.000
        </span>
      </div>
    
            </div>
          </div>
        </div>
      </div>
    

      <!-- Card 1 -->
      <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <div>
          <div class="text-gray-800">
            <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Vespa Matic Sprint 150cc</h2>
          </div>
          <img class="w-full cursor-pointer p-4" src="./assets/images/motor/vespa.png" alt="Vespa Matic Sprint 150cc" />
          <div id="duration-price">
            <div class="flex text-center text-xs justify-center mb-2">
              
      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        12 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  200.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        24 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  250.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        Mingguan
        <span class="block text-xs whitespace-nowrap py-1">
          Rp  1.500.000
        </span>
      </div>
    
            </div>
          </div>
        </div>
      </div>
    

      <!-- Card 1 -->
      <div class="max-w-xs m-4 bg-gray-100 rounded-xl shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-2xl">
        <div>
          <div class="text-gray-800">
            <h2 class="text-2xl mt-2 ml-4 font-bold text-gray-800 cursor-pointer hover:text-gray-900 transition duration-100">Xmax 300cc</h2>
          </div>
          <img class="w-full cursor-pointer p-4" src="./assets/images/motor/xmax.png" alt="Xmax 300cc" />
          <div id="duration-price">
            <div class="flex text-center text-xs justify-center mb-2">
              
      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        12 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp 250.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        24 Jam
        <span class="block text-xs whitespace-nowrap py-1">
          Rp 300.000
        </span>
      </div>
    

      <div class="bg-neutral-50 text-black hover:bg-neutral-800 hover:text-white border border-black font-bold rounded relative m-1 max-w-full p-1">
        Mingguan
        <span class="block text-xs whitespace-nowrap py-1">
          Rp 1.800.000
        </span>
      </div>
    
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </section>