<section id="partner" class="sectionSize bg-secondary">
    <div>
      <h2 class="secondaryTitle bg-100%">Partner</h2>
    </div>
    <div class="flex items-end justify-evenly max-w-full mx-auto">
      <div class="w-1/3 mb-4 px-4 font-bold group">
        <a href="#">
          <img class="opacity-60 group-hover:opacity-100 transition duration-300" src="https://see.fontimg.com/api/renderfont4/BWK6B/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Z2hhbnkgd2FzaA/star7.png">
        </a>
      </div>
      <div class="w-1/3 mb-4 px-4 font-bold group">
        <a href="#">
          <img class="opacity-60 group-hover:opacity-100 transition duration-300" src="https://see.fontimg.com/api/renderfont4/qZDgr/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Z2hhbnkga29zdA/badrips.png">
        </a>
      </div>
      <div class="w-1/3 mb-4 px-4 font-bold group">
        <a href="#">
          <img class="opacity-60 group-hover:opacity-100 transition duration-300" src="https://see.fontimg.com/api/renderfont4/z86B0/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Z2hhbnkgaG9tZXN0YXk/grinchmas.png">
        </a>
      </div>
    </div>
  </section>